.header {
  margin-bottom: $m-size;
  padding: $m-size 0;
  background: $off-black;
  color: white;
}

.header__title {
  font-size: $l-size;
}

.header__subtitle {
  color: $off-white;
  font-size: $m-size;
  font-weight: normal;
}

@media (min-width: $mobile-screen) {
  .header {
    margin-bottom: $xl-size;
  }
}