//Widget
.widget {
  margin-bottom: $xl-size;
  background: $light-blue;

  //Widget Header
  .widget-header {
    display: flex;
    justify-content: space-between;
    padding: $m-size;
    background: $blue;
    color: $off-white;

    .widget-header__title {
      margin: 0;
    }
  }

    .widget__message {
      margin: 0;
      padding: $l-size;
      text-align: center;
      border-bottom: 1px solid lighten($light-blue, 10%);
      color: $off-white;
    }
  }


