// Add Option Error 
.add-option-error {
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
  color: $off-white;
  font-style: italic;
}

// Add Option Form

.add-option-form {
  display: flex;
  flex-flow: column wrap;
  padding: $s-size;

  input[type='text'] {
    margin: 0 0 $m-size 0;
    padding: $s-size;
    border: none;
    border-bottom: 2px solid darken($dark-blue, 10%);
    background: white;
    color: $off-white;
  }
}

@media (min-width: $mobile-screen) {
  .add-option-form {
    flex-flow: row wrap;

    input[type='text'] {
      flex-grow: 1;
      margin: 0 $s-size 0 0;
      background: $dark-blue;
    }
  }
}
